.searchbar{
    //width: 346px;
    width: 60%;
    height: 35px;
    background-color: #f6fffa;
    border: 2px solid #2F8856;;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    font-family: 'Poppins';

    &__search-icon, &__cross-icon{
        cursor: pointer;
        padding-top: 5px;
    }

    input{
        width: 90%;
        margin-left: 19px;
        border: none;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        background-color: #f6fffa;
        text-transform: capitalize;
        color: #2F8856;
    }

    input:focus {
        outline: none;
    }
}